<!DOCTYPE html>
<html>
<head>
  <title>Lan</title>
  </head>
<body>
  <h1>The same differences</h1>
  <button type="button">View my Work</button>
<img src="https://drive.google.com/uc?authuser=0&id=1MzqNnGGknEzarRDYU0Diw-v2xqHgeTG4&export=download" alt="Background">
<a href="https://github.com/lanlehoang67/">GitHub</a>
<a href="https://www.facebook.com/lan.lanhlung.731">Facebook</a>
  </body>
</html>
